<div class="modal fade" id="dadosMes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" data-bind="with: mes">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel" data-bind="visible: $root.criandoMes() == false">
                    <span data-bind="text: nome"> / <span data-bind="text: ano"></span>
                </h3>
                <h3 class="modal-title" id="myModalLabel" data-bind="visible: $root.criandoMes() == true">
                    Novo Mês
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-sm-12" data-bind="visible: $root.criandoMes() == true">
                        <label>Mês de referência</label>
                        <div class="input-group date" id="datetimepicker" data-target-input="nearest">
                            <input class="form-control" id="Data" name="Data" data_toggle="datetimepicker" data_target="#Data" />
                            <div class="input-group-append" data-target="#Data" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>Plano</label>
                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                            <select data-bind="options: $root.planos,
                                optionsText: 'quantidadeDias',
                                optionsValue: 'id',
                                value: planoId">
                            </select>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span data-bind="text: valor"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>Valor Promocional</label>
                        <input class="form-control" data-bind="value: valorPromocional" />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <span data-bind="visible: $root.criandoMes() == false;">
                    <button type="button" class="btn btn-success" data-bind="click: $root.pagar, visible: ativo() == true && pago() == false;">Pagar</button>
                    <button type="button" class="btn btn-danger" data-bind="click: $root.desfazerPagamento, visible: ativo() == true && pago() == true">Desfazer Pagamento</button>
                    <button type="button" class="btn btn-primary" data-bind="click: $root.ativar, visible: ativo() == false;">Ativar</button>
                    <button type="button" class="btn btn-default" data-bind="click: $root.desativar, visible: ativo() == true;">Desativar</button>
                </span>
                <span data-bind="visible: $root.criandoMes() == true;">
                    <button type="button" class="btn btn-primary" data-bind="click: $root.salvar">Salvar</button>
                </span>
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Fechar">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#myModal').on('shown.bs.modal', function () {
            $('input:text:visible:first', this).focus();
        });

        $('#Data').datetimepicker({
            viewMode: 'years',
            format: 'LT'
        });
    });
</script>